body{
    margin: auto;
    background-image: url("tennis1.jpeg");
    background-size: cover;
}
h1{
    font-family: 'Passion One', cursive;
    font-size: 150px;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F5B700;
}
